TitleBar {
    background-color: rgb(71,120,199);
}

NavigationBar {
    background-color: rgb(47,50,59);
}

PageBar {
    background-color: rgb(230,230,230);
}

StatusBar {
    background-color: rgb(71,120,199);
}